body{
    background-color: #E8F3D6;
    text-align: center;
}

h1{
    color: #FAAB78;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

table{
    margin-left:auto;margin-right:auto;
}